@font-face {
    font-family: "Dela Gothic One";
    src: url(../Fonts/DelaGothicOne-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: "montserrat";
    src: url(../Fonts/Montserrat-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: "montserrat2";
    src: url(../Fonts/Montserrat-VariableFont_wght.ttf);
}

body{
    margin: 0;
    background: #F6F5F4;
}

.frame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 84px;
    margin: 0;
    border-bottom: 1px solid #E0E0E0;
}

.global{
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 20.8609px;

    line-height: 100%;

    width: 130px;
    height: 21px;
}

.frame2{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 30px;
    
    width: 540px;
    height: 22px;

    flex: none;
    order: 0;
    flex-grow: 0;

}

.frame_footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 207.2px;
    
    width: 1180px;
    height: 36px;
}

hr{
    width: 0;
    height: 19px;
    border: 1px solid #E0E0E0;
}

.frame2>a{
    font-weight: 600;
    font-family: "montserrat2";
    text-decoration: none;
    color: black;
}

.dropdown{
    display: flex;
    align-items: center;
}

.dropbtn{
    font-family: 'Montserrat2';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;

    color: #757575;

    letter-spacing: -0.04em;

    border: 0;
    background-color: transparent;
}


.dropdown-content{

    display: none;
    flex-direction: column;
    padding: 20px;
    position: absolute;
    z-index: 1;
    
    top: 51px;

    width: 215px;

    background: #FFFFFF;
    
    box-shadow: 0px 343.472px 343.472px rgba(52, 41, 39, 0.08), 0px 183.185px 183.185px rgba(52, 41, 39, 0.12), 0px 91.5925px 91.5925px rgba(52, 41, 39, 0.04), 0px 68.6944px 68.6944px rgba(52, 41, 39, 0.04), 0px 11.4491px 68.6944px rgba(52, 41, 39, 0.04), 0px 11.4491px 11.4491px rgba(52, 41, 39, 0.04);
    border-radius: 14px;
}

.dropdown-content> a:last-child{
    font-family: 'Montserrat2';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;

    color: #828282;
}

.dropdown-content a:hover {background-color: #FFFFFF;}

.dropdown:hover .dropdown-content {display: flex;}

.dropdown:hover .dropbtn {background-color: #F6F5F4;}

#text{
    color: #757575;
}

#stat{
    color: #757575;
}

.user{
    display: flex;
    align-items: center;
}

.alex{
    justify-content: center;

    width: 41px;
    height: 40px;

    background: #C3DCE3;
    border-radius: 100px;
    border: 0;

    font-family: 'Montserrat2';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;

    

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.04em;

    color: #2B788B;

}
.Palex{
    font-family: 'Montserrat2';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;

    letter-spacing: -0.04em;

    color: #757575;
    
    
    padding-left: 10px;
    padding-right: 30px;


}

.Sing_out{
    border: 0;
    background: transparent;

    font-family: 'Montserrat2';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    
    letter-spacing: -0.04em;

    color: #000000;
}

.footer{
    padding-left: 370px;
    padding-top: 30px;
}

.Textbook{
    display: flex;
    align-items: center;

    width: 1180px;

    background: #FFFFFF;
    border-radius: 14px;

}

.hatT{
    display: flex;
    align-items: center;
}


.BD{
    display: flex;
    align-items: center;
}

.BD:hover h1{
    color: black;
}

.BD:hover path{
    fill: black;
}

.hat{
    padding-left: 22px;
    padding-right: 12px;
    color: #BABABA;
}

.hatT:hover h1{
    color: black;
}

.hatT:hover path{
    fill: black;
}

.text{
    padding-right: 20px;

    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 100%;

    letter-spacing: -0.04em;

    color: #757575
}

.Vector{
    padding-right: 21px;
}

.Vectorr{
    padding-right: 21px;
}

.book{
    padding-right: 11px;
}

.D{
    padding-right: 340px;

    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 100%;
  
    letter-spacing: -0.04em;
   
    color: #757575
}

.sprint{
    padding-right: 10px;
    text-decoration: none;
    font-family: 'Montserrat2';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;

    color: #828282;
}

.audio{
    padding-right: 10px;
    text-decoration: none;
}

.speaker{
   padding-right: 10px; 
   
}

.settings{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px;
    gap: 10px;
    
    width: 40px;
    height: 40px;

    background: #F6F5F4;
    border-radius: 4px;
    border: 0;
}

.block{
    display: flex;
    position: absolute;
}

.block_footer1{
    display: flex;
    align-items: center;
    margin-top: 40px;
    padding-left: 170px;

}

.block_footer1>p{
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 100%;

    letter-spacing: -0.04em;

    color: #757575;

    padding-right: 12px;
}

.Easy{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 8px;
    gap: 10px;
    
    width: 43px;
    height: 25px;
    
    background: rgba(99, 155, 109, 0.3);
    border-radius: 4px;

    font-family: 'Montserrat2';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 140%;
    border: 0;
 
    letter-spacing: -0.04em;

    color: #639B6D;
}

.block_footer1::before {
    position: absolute;
    content: "";
    width:0;
    height: 5px;
    border-radius: 10px;
    bottom: 5px;
    background-color: black;
    transition: all 0.3s;
    color: black;
}

.block_footer1:hover::before {
    width: 94px;
}

.block_footer1:hover p{
    color: black;
}

.block_footer1:hover .Easy{
    background: #639B6D;
    color: #F6F5F4;
}

.block_footer1:hover .Easy{
    background: #639B6D;
    color: #F6F5F4;
}


.block_footer2{
    display: flex;
    align-items: center;
    margin-top: 40px;
    padding-left: 40px;

}

.block_footer2>p{
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 100%;
    padding-right: 12px;
 
    letter-spacing: -0.04em;
  
    color: #757575;
}

.block_footer2::before {
    position: absolute;
    content: "";
    width:0;
    height: 5px;
    border-radius: 10px;
    bottom: 5px;
    background-color: black;
    transition: all 0.3s;
    color: black;
}

.block_footer2:hover::before {
    width: 94px;
}

.block_footer2:hover p{
    color: black;
}

.block_footer2:hover .Easy{
    background: #639B6D;
    color: #F6F5F4;
}


.block_footer3{
    display: flex;
    align-items: center;
    margin-top: 40px;
    padding-left: 40px;
}


.block_footer3>p{
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 100%;
    padding-right: 12px;

    letter-spacing: -0.04em;
  
    color: #757575;
}

.Medium{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 8px;
    gap: 10px;
    
    width: 66px;
    height: 25px;
    
    background: rgba(196, 162, 76, 0.3);
    border-radius: 4px;
    border: 0;
    
    font-family: 'Montserrat2';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 140%;
   
    letter-spacing: -0.04em;

    color: #C4A24C;
}

.block_footer3>p{
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 100%;
    padding-right: 12px;
 
    letter-spacing: -0.04em;
  
    color: #757575;
}

.Medium{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 8px;
    gap: 10px;
    
    width: 66px;
    height: 25px;
    
    background: rgba(196, 162, 76, 0.3);
    border-radius: 4px;
    border: 0;
    
    font-family: 'Montserrat2';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 140%;
   
    letter-spacing: -0.04em;

    color: #C4A24C;
}

.block_footer3::before {
    position: absolute;
    content: "";
    width:0;
    height: 5px;
    border-radius: 10px;
    bottom: 5px;
    background-color: black;
    transition: all 0.3s;
    color: black;
}

.block_footer3:hover::before {
    width: 114px;
}

.block_footer3:hover p{
    color: black;
}

.block_footer3:hover .Medium{
    background: #C4A24C;
    color: #F6F5F4;
}

.block_footer4{
    display: flex;
    align-items: center;
    margin-top: 40px;
    padding-left: 40px;
}

.block_footer4>p{
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 100%;
    padding-right: 12px;
 
    letter-spacing: -0.04em;
  
    color: #757575;
}

.Medium{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 8px;
    gap: 10px;
    
    width: 66px;
    height: 25px;
    
    background: rgba(196, 162, 76, 0.3);
    border-radius: 4px;

    font-family: 'Montserrat2';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 140%;
   
    letter-spacing: -0.04em;
 
    color: #C4A24C;
}

.block_footer4::before {
    position: absolute;
    content: "";
    width:0;
    height: 5px;
    border-radius: 10px;
    bottom: 5px;
    background-color: black;
    transition: all 0.3s;
    color: black;
}

.block_footer4:hover::before {
    width: 120px;
}

.block_footer4:hover p{
    color: black;
}

.block_footer4:hover .Medium{
    background: #C4A24C;
    color: #F6F5F4;
}

.block_footer5{
    display: flex;
    align-items: center;
    margin-top: 40px;
    padding-left: 40px;
}

.block_footer5>p{
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 100%;
    padding-right: 12px;
 
    letter-spacing: -0.04em;
  
    color: #757575;
}

.Hard{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 8px;
    gap: 10px;
    
    width: 43px;
    height: 25px;
  
    background: #639B6D;
    border-radius: 4px;
    border: 0;

    font-family: 'Montserrat2';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 140%;
  
    letter-spacing: -0.04em;
  
    color: #F6F5F4;
}

.block_footer5::before {
    position: absolute;
    content: "";
    width:0;
    height: 5px;
    border-radius: 10px;
    bottom: 5px;
    background-color: black;
    transition: all 0.3s;
    color: black;
}

.block_footer5:hover::before {
    width: 97px;
}

.block_footer5:hover p{
    color: black;
}

.block_footer5:hover .Hard{
    background: #CB5B43;
    color: #F6F5F4;
}

.block_footer6{
    display: flex;
    align-items: center;
    margin-top: 40px;
    padding-left: 40px;
}

.block_footer6>p{
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 100%;
    padding-right: 12px;
 
    letter-spacing: -0.04em;
  
    color: #757575;
}

.Hard{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 8px;
    gap: 10px;
    
    width: 45px;
    height: 25px;
    
    background: rgba(203, 91, 67, 0.3);
    border-radius: 4px;
    

    font-family: 'Montserrat2';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 140%;
 
    letter-spacing: -0.04em;
   
    color: #CB5B43;
    
}

.block_footer6::before {
    position: absolute;
    content: "";
    width:0;
    height: 5px;
    border-radius: 10px;
    bottom: 5px;
    background-color: black;
    transition: all 0.3s;
    color: black;
}

.block_footer6:hover::before {
    width: 97px;
}

.block_footer6:hover p{
    color: black;
}

.block_footer6:hover .Hard{
    background: #CB5B43;
    color: #F6F5F4;
}

.Block7{
    display: flex;
    justify-content: center;
    padding-top: 130px;
}

.classroom{
    position: relative;
}

.board{
    position: absolute;
    margin-left: 286px;
    margin-top: 42px;

    width: 51px;
    height: 98px;
    
    background: rgba(0, 0, 0, 0.7);
    border-radius: 8px 0px 0px 8px;
    
}

.board_footer1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 31px;
    gap: 10px;
    color: white;
}

.zero1{
    margin-right: 3px;
}

.Man{
    border-radius: 10px 0px 0px 10px;
}

.container{
    width: 556px;
    height: 336px;

    background-color: white;
    border-radius: 0px 10px 10px 0px;
    position: relative;
}

.Remark{
    padding-left: 40px;
}

.RR{
    display: flex;
    width: 516px;
    align-items: center;
}


.rema{
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;

    letter-spacing: -0.04em;

    color: #000000;

    padding-right: 12px;
}

.slash{
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;

    letter-spacing: -0.04em;

    color: #000000;

    padding-right: 12px;
}

.N{
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;

    letter-spacing: -0.04em;

    color: #757575;
    padding-right: 218px;

}

.note{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px;
    gap: 10px;

    background: #F6F5F4;
    border-radius: 4px;
    border: 0;
}

.com{
    display: flex;
    align-items: center;
}

.com>p{
    font-family: 'Montserrat2';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;

    letter-spacing: 0.04em;

    color: #000000;
    padding-right: 10px;
}

.comp{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 12px;
    gap: 10px;

    width: 100px;
    height: 28px;

    background: #CB5B43;
    border-radius: 4px;
    border: 0;

    font-family: 'Montserrat2';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;

    letter-spacing: -0.04em;

    color: #F6F5F4;
}

.TT{
    border-bottom: 1.21942px solid #E0E0E0;;
    bottom: 5px;
}

.TT>p{
    font-family: 'Montserrat2';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;

    letter-spacing: -0.04em;

    color: #000000;
    padding-left: 40px;
}

.texts>p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
 
    letter-spacing: -0.04em;

    color: #757575;
}

.HH>p{
    font-family: 'Montserrat2';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;

    letter-spacing: -0.04em;
 
    color: #757575;
    padding-left: 40px;
}

.RBTN{
    display: flex;
    align-items: center;
    padding-left: 40px;
    gap: 20px;
}

.Add{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    gap: 12px;
    
    width: 156px;
    height: 40px;

    background: rgba(99, 155, 109, 0.3);
    border-radius: 100px;
    border: 0;

    font-family: 'Montserrat2';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
 

    letter-spacing: -0.04em;

    color: #639B6D;
}

.Add:hover{
    background: #639B6D;
    color: #F6F5F4;
    transition: all 0.3s;
}

.Remove{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    gap: 12px;
    
    width: 230px;
    height: 40px;
    
    background: rgba(203, 91, 67, 0.3);
    border-radius: 100px;
    border: 0;
    
    font-family: 'Montserrat2';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;

    display: flex;
    align-items: center;
    letter-spacing: -0.04em;
  
    color: #CB5B43;
}

.Remove:hover{
    background: #CB5B43;
    color: #F6F5F4;
    transition: all 0.3s;
}

.Block8{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.Block9{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.woman{
    border-radius: 10px 0px 0px 10px;
}

.block11{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding-left: 370px;
}

.A{
    display: flex;
    gap: 30px;
}

.A>a{
    font-family: 'Montserrat2';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    text-decoration: none;

    color: #757575
}

.Alex{
    margin-left: 549px;
}

.LAST_HR{
    width: 1180px;
    height: 0;
    margin-top: 20px;
}

.images{
    display: flex;
}

.image_fluid1{
    display: flex;
    gap: 33px;
    padding-top: 23px;
}

.image_fluid1>p{
    padding-left: 759px;

    font-family: 'Montserrat2';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;

    color: #757575;
}

.pages{
    display: flex;
    gap: 30px;
    align-items: center;
    padding-left: 668px;
    padding-top: 26px;
    padding-bottom: 60px;
}

.arrow{
    border: 3px solid #2B788B;
    border-radius: 100px;
    width: 44px;
    height: 44px;
    color: #5996A5;
    font-family: 'Montserrat2';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
}

.numbers{
    border: 3px solid #2B788B;
    border-radius: 100px;
    width: 44px;
    height: 44px;
    color: #61a6b8;
    font-family: 'Montserrat2';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
}


.dots{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;

    display: flex;
    align-items: flex-end;
    letter-spacing: 0.04em;

    color: #757575;

    margin-top: 27px;
}

.numbers:hover{
    color: white;
    background: #2B788B;
}

.arrow:hover{
    color: white;
    background: #2B788B;
}

